{:deps   {:aliases [:cljs]}
 :nrepl  {:port 7002}
 :builds {:app {:target     :browser
                :modules    {:base {:init-fn pro.juxt.core/init}}
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                :devtools   {:http-root  "public"
                             :http-port  8700
                             :after-load pro.juxt.core/reload!}}}}